---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #00a3cc;

<<<<<<< HEAD
<<<<<<< HEAD
$theme-color:       #98b4d4;
$theme-color-light: lighten($theme-color, 40%);
$theme-color-dark:  darken($theme-color, 15%);
=======
$navy-color:       #000080;
$navy-color-light: lighten($navy-color, 40%);
$navy-color-dark:  darken($navy-color, 15%);
>>>>>>> parent of 9f973ef... - changed color variable name

$nav-color: #395870;
$nav-color-light: #49708f;
$nav-color-dark: #293f50;
$nav-background: #314b60;
=======
$navy-color:       #000080;
$navy-color-light: lighten($navy-color, 40%);
$navy-color-dark:  darken($navy-color, 15%);
>>>>>>> parent of 9f973ef... - changed color variable name

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
