/** Site header **/

.site-header {
    border-top: 5px solid $theme-color;
    border-bottom: 5px solid $theme-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $theme-color-light;
    }
}

/** site navigation **/
.site-nav {

    margin-top: 13px;
    float: right;

    .navigation ul {
        font: bold 11px "Helvetica Neue", $base-font-family;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }

    .navigation li {
        display: inline-block;
    }

    .navigation a {
        background: $nav-color;
        background: linear-gradient($nav-color-light, $nav-background);
        border-right: 1px solid rgba(0, 0, 0, .3);
        color: #fff;
        padding: 12px 20px;
        text-decoration: none;
    }

    .navigation a:hover {
        background: $nav-background;
        box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
    }

    .navigation li:first-child a {
        border-radius: 4px 0 0 4px;
    }

    .navigation li:last-child a {
        border-right: 0;
        border-radius: 0 4px 4px 0;

    }
}

/** Site footer **/

.site-footer {
    border-top: 1px solid $theme-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $theme-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/** Page content **/

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 38px;

}

.page-list {
   ul:before {
       content: "•"; /* Insert content that looks like bullets */
       padding-right: 8px;
       color: $theme-color-dark; /* Bullet color */
   }
}

.page-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $theme-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/** Posts **/
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.footnotes {
    border-top: darkgray 1px solid;
    padding-top: 1em;
}
